.chart-content {
    -fx-padding: 30px;
	-fx-background-color:  white;
}
.chart-legend {
   -fx-background-color:  white;
   -fx-padding: 20px;
}

.chart-legend-item-symbol{
   -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #191970;
}
.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-bar {
    -fx-background-color: green;
}
